In [1]:
import matplotlib.pyplot as plt
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
TRAIN_PATH='../input/sales_train.csv'
TEST_PATH='../input/test.csv'
SAMPLE_PATH='../input/sample_submission.csv'
ITEM_PATH='../input/items.csv'
ITEM_CATEGORIES_PATH='../input/item_categories.csv'
SHOP_PATH='../input/shops.csv'

In [5]:
train=pd.read_csv(TRAIN_PATH)
test=pd.read_csv(TEST_PATH)
submission=pd.read_csv(SAMPLE_PATH)
items=pd.read_csv(ITEM_PATH)
item_cats=pd.read_csv(ITEM_CATEGORIES_PATH)
shops=pd.read_csv(SHOP_PATH)

In [10]:
test_shops=test.shop_id.unique()

In [12]:
train[train.shop_id.isin(test_shops)]

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day
0,02.01.2013,0,59,22154,999.00,1.0
1,03.01.2013,0,25,2552,899.00,1.0
2,05.01.2013,0,25,2552,899.00,-1.0
3,06.01.2013,0,25,2554,1709.05,1.0
4,15.01.2013,0,25,2555,1099.00,1.0
5,10.01.2013,0,25,2564,349.00,1.0
6,02.01.2013,0,25,2565,549.00,1.0
7,04.01.2013,0,25,2572,239.00,1.0
8,11.01.2013,0,25,2572,299.00,1.0
9,03.01.2013,0,25,2573,299.00,3.0
10,03.01.2013,0,25,2574,399.00,2.0
11,05.01.2013,0,25,2574,399.00,1.0
12,07.01.2013,0,25,2574,399.00,1.0
13,08.01.2013,0,25,2574,399.00,2.0
14,10.01.2013,0,25,2574,399.00,1.0
15,11.01.2013,0,25,2574,399.00,2.0
16,13.01.2013,0,25,2574,399.00,1.0
17,16.01.2013,0,25,2574,399.00,1.0
18,26.01.2013,0,25,2574,399.00,1.0
19,27.01.2013,0,25,2574,399.00,1.0
20,09.01.2013,0,25,2593,279.00,1.0
21,16.01.2013,0,25,2604,299.00,1.0
22,27.01.2013,0,25,2604,299.00,1.0
23,27.01.2013,0,25,2607,279.00,1.0
24,29.01.2013,0,25,2607,279.00,1.0
25,27.01.2013,0,25,2609,1699.00,1.0
26,06.01.2013,0,25,2548,1708.95,1.0
27,26.01.2013,0,25,2611,299.00,1.0
28,02.01.2013,0,25,2546,299.00,1.0
29,06.01.2013,0,25,2515,1649.00,1.0
...,...,...,...,...,...,...
2935819,16.10.2015,33,25,7789,1799.00,1.0
2935820,22.10.2015,33,25,7790,799.00,1.0
2935821,22.10.2015,33,25,7791,899.50,1.0
2935822,17.10.2015,33,25,7632,2310.00,1.0
2935823,26.10.2015,33,25,7487,299.00,1.0
2935824,14.10.2015,33,25,7029,999.00,1.0
2935825,23.10.2015,33,25,7460,299.00,1.0
2935826,04.10.2015,33,25,7233,599.00,1.0
2935827,18.10.2015,33,25,7308,349.00,1.0
2935828,21.10.2015,33,25,7233,479.00,1.0
2935829,03.10.2015,33,25,7233,599.00,1.0
2935830,11.10.2015,33,25,7286,299.00,1.0
2935831,22.10.2015,33,25,7187,299.00,1.0
2935832,26.10.2015,33,25,7484,299.00,1.0
2935833,22.10.2015,33,25,7308,349.00,1.0
2935834,29.10.2015,33,25,7235,298.00,1.0
2935835,18.10.2015,33,25,7327,349.00,1.0
2935836,22.10.2015,33,25,7327,349.00,1.0
2935837,24.10.2015,33,25,7328,249.00,1.0
2935838,17.10.2015,33,25,7338,349.00,1.0
2935839,24.10.2015,33,25,7315,399.00,1.0
2935840,31.10.2015,33,25,7409,299.00,1.0
2935841,11.10.2015,33,25,7393,349.00,1.0
2935842,10.10.2015,33,25,7384,749.00,1.0
2935843,09.10.2015,33,25,7409,299.00,1.0
2935844,10.10.2015,33,25,7409,299.00,1.0
2935845,09.10.2015,33,25,7460,299.00,1.0
2935846,14.10.2015,33,25,7459,349.00,1.0
2935847,22.10.2015,33,25,7440,299.00,1.0
2935848,03.10.2015,33,25,7460,299.00,1.0